#screen {
    width: 100vw;
    height: 56.25vw;
    margin: 0vw;
    padding: 0vw;
    position: relative;
}

#menu_background {
    background-image: url(produktion/titelskaerm.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 56.25vw;
    z-index: 5;
    position: absolute;
}

#play {
    background-image: url(produktion/play.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 22vw;
    height: 10vw;
    z-index: 7;
    top: 24vw;
    left: 4vw;
    position: absolute;
}

.shake {
    animation-name: shake_kf;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transform-origin: right;
}

@keyframes shake_kf {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    5% {
        transform: translateY(-100%);
        opacity: 0;
    }

    15% {
        transform: translateY(0);
        padding-bottom: 5px;
    }

    30% {
        transform: translateY(-50%);
    }

    40% {
        transform: translateY(0%);
        padding-bottom: 6px;
    }

    50% {
        transform: translateY(-30%);
    }

    70% {
        transform: translateY(0%);
        padding-bottom: 7px;
    }

    80% {
        transform: translateY(-15%);
    }

    90% {
        transform: translateY(0%);
        padding-bottom: 8px;
    }

    95% {
        transform: translateY(-7%);
    }

    97% {
        transform: translateY(0%);
        padding-bottom: 9px;
    }

    99% {
        transform: translateY(-3%);
    }

    100% {
        transform: translateY(0);
        padding-bottom: 9px;
        opacity: 1;
    }
}





#set {
    background-image: url(produktion/settings.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 10vw;
    height: 18vw;
    z-index: 7;
    top: 38vw;
    left: 9vw;
    position: absolute;
}

#start {
    background-image: url(produktion/start.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 80vw;
    height: 45vw;
    position: absolute;
    top: 4vw;
    left: 12vw;
    z-index: 6;
}

#play2 {
    background-image: url(produktion/play.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 14vw;
    height: 7vw;
    z-index: 7;
    top: 36vw;
    left: 31vw;
    position: absolute;
}

#game {
    position: absolute;
    width: 100vw;
    height: 56.25vw;
}

#game_background {
    background-image: url("produktion/bagogforgrund.svg");
    background-size: cover;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    z-index: 0;
    overflow: hidden;
    margin: auto;
}

#game_elements {
    position: absolute;
    width: 100vw;
    height: 56.25vw;
}

.fade_out {
    animation-name: fade_out_kf;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes fade_out_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fade_in {
    animation-name: fade_in_kf;
    animation-duration: 2s;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
}

@keyframes fade_in_kf {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


#oel {
    background-image: url("produktion/oel.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10vw;
    height: 24vw;
    position: absolute;
    left: 13vw;
    top: 25vw;
    z-index: 2;
}

#saft {
    background-image: url("produktion/saft.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10vw;
    height: 24vw;
    position: absolute;
    left: 30vw;
    top: 26vw;
    z-index: 2;
}

#kaffe {
    background-image: url("produktion/kaffe.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10vw;
    height: 24vw;
    position: absolute;
    left: 24vw;
    top: 13vw;
    z-index: 2;
}

#oel2 {
    background-image: url("produktion/oel.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10vw;
    height: 24vw;
    position: absolute;
    left: 51vw;
    top: 8vw;
    z-index: 2;
}

#saft2 {
    background-image: url("produktion/saft.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10vw;
    height: 24vw;
    position: absolute;
    left: 72vw;
    top: 25vw;
    z-index: 2;
}

#kaffe2 {
    background-image: url("produktion/kaffe.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10vw;
    height: 24vw;
    position: absolute;
    left: 60vw;
    top: 28vw;
    z-index: 2;
}

#oel3 {
    background-image: url("produktion/oel.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10vw;
    height: 24vw;
    position: absolute;
    left: 44vw;
    top: 21vw;
    z-index: 3;
}

#oel4 {
    background-image: url("produktion/oel.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10vw;
    height: 24vw;
    position: absolute;
    left: 67vw;
    top: 9vw;
    z-index: 3;
}

#oel5 {
    background-image: url("produktion/oel.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10vw;
    height: 24vw;
    position: absolute;
    left: 36vw;
    top: 8vw;
    z-index: 3;
}

#game_ui {
    position: absolute;
    width: 100vw;
    height: 56.25vw;
    background-size: 100%;


}

#points {
    background-image: url("produktion/point.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 5vw;
    height: 25vw;
    position: absolute;
    left: 90vw;
    top: 18vw;
    z-index: 3;
}

#livrod {
    background-image: url(produktion/livroed.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 5vw;
    height: 4vw;
    position: absolute;
    left: 87vw;
    top: 44vw;
    z-index: 3;
}

#livsort {
    background-image: url(produktion/livsort.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 5vw;
    height: 4vw;
    position: absolute;
    left: 93vw;
    top: 44vw;
    z-index: 3;
}

#time {
    background-image: url(produktion/ur.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 11vw;
    position: absolute;
    left: 89vw;
    top: 5vw;
    z-index: 3;
}

#gameover {
    background-image: url(produktion/duhartabt.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 80vw;
    height: 45vw;
    position: absolute;
    top: 4vw;
    left: 12vw;
    z-index: 6;

}

#levelcomplete {
    background-image: url(produktion/tillykke.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 80vw;
    height: 45vw;
    position: absolute;
    top: 4vw;
    left: 12vw;
    z-index: 6;

}

#kryds {
    background-image: url(produktion/kryds.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 8vw;
    height: 6vw;
    position: absolute;
    top: 2vw;
    left: 2vw;
}

#spiligen {
    background-image: url(produktion/playagain.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 8vw;
    height: 14vw;
    top: 34vw;
    left: 26vw;
}

#hus {
    background-image: url(produktion/hus.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 8vw;
    height: 14vw;
    top: 34vw;
    left: 42vw;
}

#settings {
    background-image: url(produktion/settings_1.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 80vw;
    height: 100%;
    position: absolute;
    top: 4vw;
    left: 12vw;
    z-index: 6;

}

#on {
    background-image: url(produktion/on.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 8vw;
    height: 3vw;
    position: absolute;
    top: 16vw;
    left: 50vw;
}

#off {
    background-image: url(produktion/off.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 8vw;
    height: 3vw;
    position: absolute;
    top: 24vw;
    left: 50vw;
}

.hide {
    display: none;
}
